<div class="container">
  <div class="mat-typography title">
    <h1>
      Climatología en <b>{{ name }}, {{ country }}</b>
    </h1>
  </div>
  <mat-card class="main">
    <mat-card-content>
      <mat-spinner *ngIf="!loaded"></mat-spinner>
      <div *ngIf="loaded" class="content">
        <div>
          <img [src]="iconUrl" alt="Current weather icon" />
          <p
            [ngClass]="{
              blue: temperature < 5,
              yellow: 5 < temperature && temperature < 15,
              orange: 15 < temperature && temperature < 25,
              red: temperature > 25
            }"
            style="text-align: center;"
          >
            {{ temperature }}&deg;C
          </p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div>
          <p style="margin-top: 10px">
            Sensación térmica: {{ temperatureFeelsLike }}&deg;C
          </p>
          <p>Humedad: {{ currentWeather.main.humidity }}%</p>
          <p>Viento: {{ currentWeather.wind.speed }} km/h</p>
          <p>Nubosidad: {{ currentWeather.clouds.all }}%</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <app-csv-reader></app-csv-reader>
  <button mat-stroked-button [routerLink]="'/'">Busca experiencias en otro lugar</button>
</div>
