<app-navbar></app-navbar>

<div class="mat-elevation-z8" style="margin: 2em;">
  <table mat-table [dataSource]="experiences" class="mat-table">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nombre del evento </th>
      <td mat-cell *matCellDef="let experience" > {{ experience.name }} </td>
    </ng-container>

    <!-- Category Column with Icon -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Categoría </th>
      <td mat-cell *matCellDef="let experience" style="text-align: center;">
        <mat-icon>{{ getIcon(experience.category) }}</mat-icon>
        {{ experience.category | titlecase }}
      </td>
    </ng-container>

    <!-- Rating Column with Stars -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Rating </th>
      <td mat-cell *matCellDef="let experience" style="text-align: center;">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <mat-icon *ngIf="star <= experience.rating">star</mat-icon>
          <mat-icon *ngIf="star > experience.rating">star_border</mat-icon>
        </ng-container>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Acciones </th>
      <td mat-cell *matCellDef="let experience" style="text-align: center;">
        <button mat-icon-button (click)="openEditDialog(experience)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openDeleteDialog(experience)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="shareExperience(experience)">
          <mat-icon>share</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
